html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
}
body {
	min-width: 320px;
	background-color: #000;
}
.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}
.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.btn {
	position: relative;
	outline: none;
	border-radius: 3px;
	padding: 16px 35px;
	font-family: inherit;
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	background-color: #EE8313;
	transition: background-color 0.3s ease-in-out;
}
.burger {
	display: none;
}
.btn::after {
	content: '';
	position: absolute;
	left: -3px;
	top: -3px;
	right: -3px;
	bottom: -3px;
	border-radius: inherit;
	border: 1px solid #EE8313;
	opacity: 0;
	outline: none;
	transition: opacity 0.3s ease-in-out;
}
.btn:focus::after {
	opacity: 1;
}
.btn:hover {
	border: 1px solid #EE8313;
	background-color: #fff;
	color: #EE8313;
}
.btn:active {
	background-color: #c26d12;
}
.btn:active::after {
	opacity: 0;
}
.flex {
	display: flex;
}
:root {
	--gap: 30px;
}
.container {
	max-width: 1300px;
	padding: 0 50px;
	margin: 0 auto;
}
.section-title {
	margin: 0;
	margin-bottom: 40px;
	font-weight: 300;
	font-size: 36px;
	line-height: 130%;
	color: #fff;
}
/* header */
.header {
	padding: 36px 0;
}
.header__container {
	align-items: center;
}
.header__logo {
	margin-right: auto;
}
.header__nav {
	margin-right: 52px;
}
.nav__item:not(:last-child) {
	margin-right: 52px;
}
.nav__link {
	position: relative;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	transition: color 0.3s ease-in-out;
}
.nav__link:focus {
	outline-offset: 2px;
	outline: 1px solid #c26d12;
}
.nav__link:hover {
	color: #c26d12;
}
.nav__link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #c26d12;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.nav__link:active {
	outline: none;
}
.nav__link:active::after {
	opacity: 1;
}
/* hero */
.hero {
	background: url(../img/hero-bg.png) no-repeat right;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 80px;
}
.hero__content {
	width: 33%;
	flex-direction: column;
	align-items: flex-start;
}
.hero__title {
	margin: 0;
	color: #fff;
	margin-bottom: 25px;
	font-weight: 300;
	font-size: 40px;
	line-height: 130%;
}
.hero__descr {
	margin: 0;
	margin-bottom: 34px;
	font-size: 16px;
	line-height: 155%;
	color: #fff;
}
.hero__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hero__btn {
	border: 1px solid #EE8313;
	padding: 12px 24px;
	background-color: transparent;
	color: #fff;
	margin-bottom: 14px;
	min-width: 250px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.hero__btn:hover {
	background-color: #EE8313;
	color: #fff;
}
.hero__btn:active {
	background-color: #c26d12;
}
.hero__secure {
	padding-left: 44px;
	font-size: 11px;
	line-height: 155%;
	text-transform: uppercase;
	color: #fff;
	background-image: url('../img/500+.svg');
	background-position: left center;
	background-size: 28px 17px;
	background-repeat: no-repeat;
}
/* cars */
.cars {
	padding-top: 100px;
	border-bottom: 1px solid #c4c4c4;
}
.cars__title {
	text-align: center;
}
.cars__list {
	flex-wrap: wrap;
}
.cars__item {
	position: relative;
	margin-right: 16px;
	margin-bottom: 16px;
}
.car span {
	position: absolute;
	left: 30px;
	font-weight: 600;
	font-size: 40px;
	line-height: 52px;
	letter-spacing: 0.006em;
	color: #fff;
}
/* services */
.services {
	padding-top: 100px;
}
.services__list {
	flex-wrap: wrap;
}
.services__item {
	width: 31%;
	margin-right: 24px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.card-one {
	min-height: 100%;
}
.card-two {
	min-height: 100%;
}
.card-three {
	min-height: 100%;
}
.card-fourth {
	min-height: 100%;
}
.card-five {
	min-height: 100%;
}
.card-six {
	min-height: 100%;
}
.card__img {
	object-fit: cover;
}
.card__body {
	padding: 24px 10px 10px 10px;
	background-color: #131313;
}
.card__title {
	margin: 0;
	color: #fff;
	margin-bottom: 16px;
}
.card__desc {
	margin: 0;
	color: #fff;
	margin-bottom: 25px;
}
.car__img {
	margin-right: 15px;
}
.price {
	color: #fff;
	margin-bottom: 17px;
}
.card__link {
	color: #EE8313;
}
/* booking */
.booking {
	padding-top: 100px;
}
.booking__list {
	flex-wrap: wrap;
}
.booking__item {
	width: 31%;
	margin-bottom: 24px;
}
.booking__item:not(:last-child) {
	margin-right: 24px;
}
/* footer */
.footer {
	background-color: #1F1905;
	padding: 42px 0;
}

.footer-container {
	align-items: center;
	justify-content: space-between;
}

.footer-left,
.footer-right {
	align-items: center;
}

.footer-logo {
	margin-right: 25px;
}

.footer__nav {
	margin-right: 56px;
}

.footer__nav .nav__item:not(:last-child) {
	margin-right: 28px;
}

.footer-copy {
	font-size: 12px;
	color: #787878;
}

.footer__nav .nav__link {
	font-size: 12px;
	color: #787878;
}

.social {
	align-items: center;
}

.social-item:not(:last-child) {
	margin-right: 32px;
}

.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
}

.social-link svg {
	fill: #000;
	transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.social-link.social-link-mail svg {
	fill: transparent;
	stroke: #000;
}

.social-link:focus {
	outline-offset: 2px;
	outline: 1px solid #71a7e2;
}

.social-link:hover svg {
	fill: #71a7e2;
}

.social-link.social-link-mail:hover svg {
	fill: transparent;
	stroke: #71a7e2;
}

.social-link:active svg {
	fill: #3172b9;
}

.social-link.social-link-mail:active svg {
	fill: transparent;
	stroke: #3172b9;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    max-width: 500px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn svg path {
    transition: fill .4s;
}

.modal__close-btn:hover svg path {
    fill: blue;
}

.modal__close-btn:active svg path {
    fill: rgb(186, 53, 0);
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}
